

<form ng-submit="vm.findMovie()">
  <input ng-model="vm.search">
  <button type="submit" name="button">find a movie</button>
</form>

<form ng-submit="vm.findPopularMovies()">
  <button type="submit" name="button">find popular movies</button>
</form>

<div ng-repeat="movie in vm.all">
<h2>{{ movie.title }}</h2>
<img ng-src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path}}" alt="movie poster" class="responsive-img">
<a ui-sref="moviesShow">See movie page</a>
<a ui-sref="movieshow({ id: movie.id })">More info...</a>
</div>
