<div>
  <div class="movie-search">
    <div class="row">
      <div class="col s12">
        <input ng-model="vm.search">
      </div>
    </div>
    <div class="row">
      <div class="col s4 push-s4">
        <form ng-submit="vm.findMovie()">
          <button class="btn" type="submit" name="button">find a movie</button>
        </div>
      </form>
      <div class="col s3 push-s3">
        <form ng-submit="vm.currentlyScreeningMovies()">
          <button class="btn" type="submit" name="button">current movies</button>
        </form>
      </div>
    </div>
  </div>

  <div class="index-movies-page">
    <h4>Current Popular Movies</h4>
  </div>

  <div class="row">
    <div ng-repeat="movie in vm.all">
      <a ui-sref="movieShow({ id: movie.id })">
        <div class="col l4 m6 s12">
          <div class="movieCard card">
            <img ng-src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path}}" on-error="https://www.bathroomcity.co.uk/sites/default/files/default_images/no_image_available_2.png" alt="Movie poster not available" class="responsive-img">
            <h5 class="titleSize center-align">{{ movie.title }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
