  <h1>movie show - test</h1>
  <img ng-src="https://image.tmdb.org/t/p/w500/{{ group.poster_path}}" alt="">
  <p>this is title: {{vm.movie.title}}</p>
  <p>this is overview: {{vm.movie.overview}}</p>
  <p>this is overview: {{vm.movie.vote_average}}</p>
  <p>this is release date: {{vm.movie.release_date}}</p>

  <div class="comments">

    <h2>Comments</h2>

    <p ng-if="!vm.movie.comments.length">0 comments</p>

    <ul class="comments__created">
      <li ng-repeat="comment in vm.movie.comments track by $index">
        <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> - {{ comment.text }}
      </li>
    </ul>

    <form ng-submit="vm.addComment()">
    <!-- <form ng-if="main.isAuthenticated()"> -->
      <label>Add comment</label>
      <textarea ng-model="vm.newComment.text"></textarea>
      <button class="button button--full">Comment</button>
    </form>

  </div>
