<div class="row">
  <!-- card one: movie poster image -->
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <img ng-src="https://image.tmdb.org/t/p/w500/{{ vm.movie.poster_path}}" alt="movie poster" class="responsive-img">
      </div>
    </div>
  </div>
  <!-- card two: movie info, group members, button actions -->
  <div class="col s4">
    <div class="card">
      <div class="card-content row">
        <!-- movie info -->
        <span class="card-title">{{vm.movie.title}}</span>
        <p>{{vm.movie.overview}}</p>
        <p><span>Rating: </span> {{vm.movie.vote_average}}/10 ( {{vm.movie.vote_count}} total votes )</p>
        <p><span>Release date: </span> {{vm.movie.release_date}}</p>
        <p><span>Genre:</span> {{vm.movie.genres[0].name}}, {{vm.movie.genres[1].name}}</p>
        <p><span>Language:</span> {{vm.movie.spoken_languages[0].name}}</p>
        <!-- user chips -->
        <ul>
          <li  class="user-group" ng-repeat="user in vm.movieGroup.users">
            <a ui-sref="usersShow({ id: user.id })">
              <div class="chip">
                <img ng-src="{{ user.profilePicture }}">{{ user.username }}
              </div>
            </a>
          </li>
        </ul>
        <!-- button actions -->
        <div class="card-action">
          <a href="/login" class="btn" ng-if="!main.isAuthenticated()">Login to join a group!</a>
          <!-- user will lose the page they were on... fix this?! -->
          <button class="btn" ng-show="!vm.isInGroup()" ng-click="vm.add()">Join Group</button>
          <button class="btn" ng-show="vm.isInGroup()" ng-click="vm.remove()">Leave Group</button>
        </div>
      </div>
    </div>
  </div>
  <!-- card three: comments block -->
  <div class="col s4">
    <div class="card">
      <!-- comments posted -->
      <div class="card-content row">
        <h5>Movie Chat</h5>
        <div ng-repeat="comment in vm.movieGroup.comments track by $index"  class="card-content">
          <p>{{ comment.text }}<a ui-sref="usersShow({ id: comment.createdBy.id })"><strong> - {{ comment.createdBy.username }}</strong></a><button class="delete-button" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete</button></p>
        </div>
      </div>
      <!-- add a comment -->
      <div class="card-content row">
        <form ng-submit="vm.addComment()" >
          <textarea ng-model="vm.newComment.text" placeholder="Leave your comment here..." class="center-align"></textarea>
          <div class="row">
            <div class="col s4"></div>
            <button class="btn col s4" ng-show="vm.isInGroup()">Add</button>
            <button class="btn" ng-show="!vm.isInGroup()" ng-click="vm.add()">Join Group to add a comment!</button>
            <div class="col s4"></div>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
