<section>
  <div class="container">
    <div class="row">
      <form ng-submit="vm.submit()" class="col s12 registration">
        <div class="field">
          <label class="label" for="email">Email</label>
            <input class="input" type="text" name="email" id="email" ng-model="vm.credentials.email">
          </p>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
            <input class="input" type="password" name="password" id="password" ng-model="vm.credentials.password">
        </div>
        <div class="field  center-align">
            <input type="submit" class="btn" value="Login">
        </div>
      </form>
    </div>
  </div>
</section>
