<!DOCTYPE html>
<html ng-app="vamApp">
<head>
  <title>WDI Group Project</title>
  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Courgette" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <!-- navbar -->
  <nav class="nav-extended stroke">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="home">Movies</a></li>
        <li><a ui-sref="usersShow({ id: main.currentUserId })" ng-if="main.isAuthenticated()">My Profile</a></li>
        <li><a ui-sref="login" ng-if="!main.isAuthenticated()">Login</a></li>
        <li><a ui-sref="register" ng-if="!main.isAuthenticated()">Register</a></li>
        <li><a ng-click="main.logout()"  ng-if="main.isAuthenticated()">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- "jumbotron" -->
  <div class="new-nav">
    <a href="moviesIndex"><img class="landing-page-image" ng-src="images/camera.svg" alt="svg of an old film projector"></a>
    <a href="moviesIndex" class="brand-logo">Movie Hub</a>
    <span class="brand-logo">A social hub for movie fans!</span>
  </div>
  <!-- main content -->
  <main ui-view></main>

</body>
</html>
