<!DOCTYPE html>
<html ng-app="vamApp">
<head>
  <title>WDI Group Project</title>
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <div>
    <a  ui-sref="home">
      Home
    </a>
    <a ui-sref="usersShow({ id: main.currentUserId })" ng-if="main.isAuthenticated()">Profile</a>
    <a ui-sref="login" ng-if="!main.isAuthenticated()">
      Login
    </a>
    <a ui-sref="register" ng-if="!main.isAuthenticated()">
      Register
    </a>
    <a ng-click="main.logout()" ng-if="main.isAuthenticated()">
      Logout
    </a>
  </div>
  <h1>WDI Group Project!</h1>
    <div class="notification" ng-if="main.message">{{ main.message }}</div>
  <main class="container" ui-view></main>
</body>
</html>
