.landing-page-image {
  padding: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.movie-chat {
  border: dashed;
}

a {
  &.brand-logo {
    margin-left: 10px;
  }
}

p {
  padding: 5px;
}

span {
  font-weight: bold;
}

textarea {
  border: none;
}

.formSpacing {
  width: 60%;
  margin: 30px 0;
}

select {
  margin: 15px 0;
}

div {
  &.error{
    background: #fff0f4;
    color: #c51244;
    padding: 5px 0 15px;
    border-radius: 5px;
  }
}

.formBtn{
  margin: 15px 0;
}

.delete-button {
  margin: 8px;
  background-color: #c51244;
  color: white;
  border-radius: 4px;
}

input{
  &.input{
    &.ng-valid {
      border-bottom: 1px solid green;
    }
  }
}

.user-group {
  display: inline-block;
}

.movie-search{
  margin:20px 0 40px;
}

// .index-film-card {
//   border: 5px;
// }
.movieCard{
  // width: calc(33.3333333333% - 24px);
  min-height: 587px;
  // margin: 0px 12px 24px;
  padding: 0;
  transform: translateY(0px);
  transition: all 0.55s ease;
  -webkit-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
  box-shadow: 5px 11px 6px -10px rgba(0,0,0,0.25);
  &:hover{
    transform: translateY(-10px);
    -webkit-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
              box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);

  }
  img{
    min-height: 484px;
  }
}


.col {
  color: black;
  &.l4{
    &.movieCard{
      min-height: 587px;
      padding: 0;
      transform: translateY(0px);
      transition: all 0.55s ease;
      -webkit-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
      -moz-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
      box-shadow: 5px 11px 6px -10px rgba(0,0,0,0.25);
      &:hover{
        transform: translateY(-10px);
        -webkit-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
            -moz-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
                  box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);

      }
      img{
        min-height: 484px;
      }
    }
  }
  &.m6{
    &.movieCard{
      padding: 0;
      transform: translateY(0px);
      transition: all 0.55s ease;
      -webkit-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
      -moz-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
      box-shadow: 5px 11px 6px -10px rgba(0,0,0,0.25);
      &:hover{
        transform: translateY(-10px);
        -webkit-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
        box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
      }
    }
  }
  &.s12{
    &.movieCard{
      padding: 0;
      transform: translateY(0px);
      transition: all 0.55s ease;
      -webkit-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
      -moz-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
      box-shadow: 5px 11px 6px -10px rgba(0,0,0,0.25);
      &:hover{
        transform: translateY(-10px);
        -webkit-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
        box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
      }
    }
  }
}


.titleSize{
  min-height: 75px;
}

body{
  background-color: #F7F7F7;
}
