body{
  background-color: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
  color: #5b6061;
}

//navbar

div {
  &.nav-wrapper{
    background-color: #5b6061;
  }
  &.new-nav {
    background-color: #F7F7F7;
  }
  a {
    &.brand-logo{
      font-family: 'Courgette', cursive;
      font-size: 45px;
      color: #ffb000f5;
      font-size: 50px;
      margin: 15px;
    }
  }
}

span {
  &.brand-logo{
    font-family: 'Courgette', cursive;
    color: #ffb000f5;
    font-size: 30px;
  }
}

img {
  &.landing-page-image {
    margin-top: 10px;
    margin-left: 10px;
    width: 8%;
    height: auto;
  }
  &.show-page-image {
    padding-left: 30px;
    padding-right: 30px;
  }
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffb000f5;
  height: 3px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.landing-page-image {
  padding: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

p {
  padding: 5px;
}

span {
  font-weight: 600;
  font-size: 16px;
}


select {
  margin: 15px 0;
}

//form
div {
  &.error {
    background: #fff0f4;
    color: #c51244;
    padding: 5px 0 15px;
    border-radius: 5px;
  }
  &.col {
    &.show-padding {
      &.s4 {
        padding-left: 25px;
        padding-right: 25px;
        &.center-align {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
  }
}

input{
  &.input{
    &.ng-valid {
      border-bottom: 1px solid green;
    }
  }
}

.formSpacing {
  width: 60%;
  margin: 30px 0;
}

textarea {
  border: none;
}

//buttons

.formBtn{
  margin: 15px 0;
}

.preview-image {
  max-width: 150px;
  max-height: 150px;
}

// input[type='file'] { //hacki
//   color: transparent;
// }

.delete-button {
  margin: 8px;
  background-color: #c51244;
  color: white;
  border-radius: 4px;
}

.user-group {
  display: inline-block;
}

//movies show page
.movie-search{
  margin:20px 0 40px;
}



.movieCard{
  color: black;
  min-height: 587px;
  padding: 0;
  transform: translateY(0px);
  transition: all 0.55s ease;
  -webkit-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 11px 6px -10px rgba(0,0,0,0.25);
  box-shadow: 5px 11px 6px -10px rgba(0,0,0,0.25);
  &:hover{
    transform: translateY(-10px);
    -webkit-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);
    box-shadow: 0 20px 6px -13px rgba(0,0,0,0.15);

  }
  img{
    min-height: 484px;
  }
}

.titleSize{
  padding: 15px;
}

//user profile
.profileImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profilePage{
  padding-top: 20px;
}

blockquote{
  border-left:5px solid #ffb000f5;
}

.movie-info { //not working
  font-weight: 100;
}
